<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".ui.camera.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.grid_3d.GridSelectionActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.grid_3d.ImageSelectionActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.grid_3d.GridEditActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />

        <activity
            android:name=".ui.ShareActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.PhotoEditingActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.grid.ImageSelectionActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.grid.GridActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />

        <activity
            android:name=".ui.MyAlbumActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.MyPhotoActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.MyPhotoGalleryActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.camera.CameraActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.singlepic.SinglePicActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>